body, h1, h2, ul, li, p, dt, dd, dl {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: #e8ebf1;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

/* HEADER */
.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #002171;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

/*Section dos animais, FAQ e mapa */
.grid-section {
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-column: 2 / 4; /*pega da linha 2 até a 4*/
  grid-gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair Display SC', Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

/* Parte dos animais */
.animais h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #0d47a1;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #002171;
}

.animais p {
  font-family: helvetica, arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Imagens dos animais */
.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar { 
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #002171;
  border-left: 4px solid #e8ebf1;
  border-right: 4px solid #e8ebf1;
}

.animais-lista::-webkit-scrollbar-track {
  background-color: #e8ebf1;
}

/* Descrições dos animais */
.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

/* FAQ */
.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt { /*perguntas*/
  font-family: monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #0d47a1;
  font-size: 14px;
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #002171;
}

.faq-lista dd { /*respostas*/
  font-family: Helvetica, arial;
  margin-bottom: .5rem;
  margin-left: 30px;  
  font-size: 14px;
}

/* Mapa */
.mapa {
  grid-column: 2;
}

/* Dados */
.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, arial;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #002171;
}

.copy {
  grid-column: 1 / 5;
  margin-bottom: 2rem;
  background-color: #002171;
  color: white;
}

.copy p {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: monospace;
}

/* RESPONSIVO */
@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu, .grid-section, .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista, .dados, .mapa {
    grid-column: 1 / 3;
  }

  .grid-section h1 {
    font-size: 3rem;
  }
  
  .menu {
    margin-top: 0;
  }

  .copy {
    margin-bottom: 0;
  }

  .copy p {
    justify-content: center;
  }
}

/* JS */
/* Descrições */
.js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}